include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include SECURITY.md
include Dockerfile
include docker-compose.yml
include .env.example
include requirements.txt
recursive-include svs_to_ometiff_gui/templates *.html
recursive-include svs_to_ometiff_gui/static *
