include CHANGELOG.md
include CITATION.cff
include .github/CODE_OF_CONDUCT.md
include .github/CONTRIBUTING.md
include .github/SECURITY.md
include Dockerfile
include docker-compose.yml
include .env.example
include requirements.txt
recursive-include src/svs_to_ometiff_gui/templates *.html
recursive-include src/svs_to_ometiff_gui/static *
